@font-face {
	font-family: "Roboto";
	src: url("fonts/roboto.woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/robotobold.woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/robotomedium.woff2");
	font-style: normal;
	font-weight: 500;
}

body {
	color: #ffffff;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	background-color: #849d8f;

}

a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

a.image-href {
	border-bottom: none;
}

a:hover,
a:focus,
a:active {
	color: #ffbc9e;
	border-bottom-color: rgba(249, 172, 159, 0.3);
}

input {
	color: #323232;
}

input::placeholder {
	color: #999999;
}

.visually-hidden {
	border: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	position: absolute;
	white-space: nowrap;
}

/* временное скрытие */
.modal,
.popup {
	display: none;
}





.site-navigation a {
	font-weight: bold;
	border-bottom: 1px solid #9bb3a6;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
	color: #323232;
	border-bottom: none;
}

.user-menu {
	font-size: 14px;
	font-weight: 500;
}

.user-menu:hover {
	color: #323232;
}

.header-contacts-schedule {
	font-weight: bold;	
}

.header-contacts-phone {
	font-weight: bold;
	font-size: 24px;
}



.site-navigation,
.breadcrumbs,
.catalog,
.paginator,
.footer-social,
.footer-links {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation li,
.breadcrumbs li,
.paginator li,
.footer-social li {
	display: inline;
}

.breadcrumbs a {
	font-size: 14px;
}

.breadcrumbs li:nth-child(n + 2)::before {
	content:' » '; 
}

.breadcrumbs-current {
	font-size: 14px;
	border-bottom: none;
}



.advantages {
	color: #323232;
}

.advantages-header {
	font-size: 24px;
	font-weight: 500;
}

.blog-header {
	font-weight: 500;	
}

.blog h3 {
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}

.subscription {
	color: #5a5a5a;
}

.inner-page h1 {
	font-size: 35px;
}

.catalog-item-title {
	font-size: 16px;
	font-weight: 500;
}

.catalog-item-price {
	font-size: 45px;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-unit {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.paginator a {
	border-bottom: none;
}

.paginator a:hover,
.paginator a:active {
	color: #ffffff;
}

.paginator-item {
	font-size: 16px;
}

.paginator .current-page {
	color: #323232;
	font-weight: 500;
}

.paginator-inactive {
	color: rgba(255, 255, 255, 0.2);
}





footer a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-links {
	font-size: 13px;
}

.footer-links-supplier {
	font-weight: bold;
}

.copyright,
.copyright a {
	font-size: 12px;
}
