/*@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/robotobold.woff") format("woff");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/robotomedium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/robotobold.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/robotomedium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}*/



body {
	color: #ffffff;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	background-color: #849d8f;

}

main a,
footer a {
	color: #ffffff;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

main a.image-href,
footer a.image-href {
	border-bottom: none;
}

main a:hover,
footer a:hover,
main a:focus,
footer a:focus,
main a:active
footer a:active {
	color: #ffbc9e;
	border-bottom-color: rgba(249, 172, 159, 0.3);
}

img {
	max-width: 100%;
	height: auto;
}

input[type="text"],
input[type="password"] {
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d3;
	outline: none;
	color: #323232;
	font-weight: bold;

	line-height: 24px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 12px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
	color: #999999;
	font-weight: normal;
}

input[type="text"]:hover,
input[type="password"]:hover {
	box-shadow: 0px 0px 0px 1px #d3d3d3;
	border-color: #c7c6c5;
}

input[type="text"]:focus,
input[type="password"]:focus {
	box-shadow: 0px 0px 0px 1px #8fbdec;
	border-color: #8fbdec;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
	display: inline-block;
	padding-top: 11px;
	padding-bottom: 13px;
	padding-left: 19px;
	padding-right: 19px;
	border-radius: 25px;

	font-size: 18px;
	font-weight: bold;
	color: #fefefe;
	text-decoration: none;

	background: #ef6742;
	background: linear-gradient(0deg, #e54934, #ef6742);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	outline: none;

	cursor: pointer;
}

a.button {
	text-decoration: none;
}

.button:hover,
.button:focus {
	background: linear-gradient(0deg, #ec6f5e, #f58669);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.button:active {
	background: linear-gradient(0deg, #e1613e, #d74632);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

/* временное скрытие */
.modal {
	display: none;
}

.site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/background-icecream-1.png");
	background-repeat: no-repeat;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.inner-page {
	background-image:
			linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
}


/* HEADER */

header {
	margin-bottom: 22px;
	padding-top: 7px;
}

.main-navigation a {
	text-decoration: none;
}

.site-navigation,
.logo-and-navigation {
	display: flex;
	align-items: center;
}

.logo-and-navigation {
	max-width: 853px;
}

.logo {
	margin-right: 10px;
}

.site-navigation > li {
	margin-right: 2px;

	position: relative;
	bottom: 5px;
}

.site-navigation-item > a {
	color: #ffffff;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
}

.site-navigation-item > a > span {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

.site-navigation-item span:hover {
	border-bottom: none;
	box-shadow: none;
}

.site-navigation-item > a {
	font-weight: bold;

	display: block;
	border-bottom: none;

	padding-right: 13px;
	padding-left: 13px;
	padding-top: 7px;
	padding-bottom: 7px; 
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
	border-radius: 16px;
	background-color: #f7f6f3;
	box-shadow: 0px 0px 0px 1px #ffffff;
	outline: none;

	color: #323232;
}

.site-navigation-item > a:active {
	background-color: #ededed;
	box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-current > a > span {	
	border-bottom: none;
}

li.site-navigation-current > a {
	border-radius: 16px;
	background-color: #d07058;
	font-weight: bold;

	display: block;
	outline: none;

	padding-right: 13px;
	padding-left: 13px;
	padding-top: 7px;
	padding-bottom: 7px; 
	margin-right: 2px;

}

li.site-navigation-current > a:hover {
 color: #323232;
}

/* Подменю */

.site-navigation-item:hover > .sub-menu-wrapper {
	display: block;
}

.sub-menu-wrapper {
	display: none;
	position: absolute;
	top: 27px;
	right: -7px;
	z-index: 3;

	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.sub-menu {
	list-style: none;

	padding: 3px 0px 7px;
	background-color: #f8f7f4;
	border-radius: 5px;
	z-index: 2;

	box-shadow:
	inset 0px 0px 0px 1px rgba(194, 206, 199, 0.5),
	0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

li.sub-menu-new span {
	display: block;
	border-bottom: 1px solid #d1d0ce;
	padding-bottom: 5px;
}

li.sub-menu-new span:hover {
	border-bottom: 1px solid #d1d0ce;	
}

.sub-menu a {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	box-sizing: border-box;

	color: #323232;
	font-size: 14px;
	line-height: 28px;
	border-bottom: none;

	margin: 2px 0px 1px;
	padding: 0px 21px;
}

.sub-menu a:hover {
	background-color: #fbded7;
	color: #323232;
}

.sub-menu a:active {
	background-color: #f6b5a5;
	color: #323232;
}

.sub-menu-current a {
	background-color: #d07058;
	color: #ffffff;
}

.sub-menu-new a {
	font-weight: bold;
}

/* Пользовательский блок навигации */

.user-menu {
	font-size: 14px;
	font-weight: 500;
}

.user-menu:hover > span {
	color: #323232;
}

.container {
	width: 1146px;
	padding: 0px 27px;
	margin: 0 auto;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
}

.user-navigation-container {
	position: relative;
	align-items: center;
	max-width: 300px;
	display: flex;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
}

.user-navigation > div:nth-child(-n+3) {
	position: relative;
	bottom: 5px;
	margin-left: 9px;
}

.user-navigation > .user-menu {
	cursor: pointer;
}

.user-menu {
	padding-right: 17px;
	padding-top: 8px;
	padding-bottom: 8px; 
	border-radius: 16px;
	background-color: rgba(255,255,255,0.2);
	background-origin: border-box; 
	background-repeat: no-repeat; 
}

.search {
	width: 33px;
	box-sizing: border-box;
	padding-left: 0px;

	background-position: 50% 50%;
	background-image: url('../img/search-white.svg');
}

.search:hover {
	background-color: #ffffff;
	background-image: url('../img/search-black.svg');
}

/* Всплывающий поиск */

.search:hover > .search-wrapper {
	display: block;
}

.search-wrapper {
	display: none;
	position: absolute;
	top: 26px;
	right: 0px;
	z-index: 3;

	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.popup-search {
	padding: 20px 15px;
	border-radius: 5px;

	background-color: #f8f7f4;

	z-index: 4;
	box-shadow:	0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.popup-search input[type="text"] {
	box-sizing: border-box;
	width: 309px;
	font-size: 14px;
}

/******************/

.login {
	padding-left: 45px;

	background-position: 17px 50%;
	background-image: url('../img/login-white.svg');
}

.login:hover {
	background-image: url('../img/login-black.svg');
	background-color: #ffffff;
}

/* Всплывающее окно авторизации */

.login:hover > .login-wrapper {
	display: block;
}

.login-wrapper {
	display: none;
	position: absolute;
	z-index: 3;
	top: 26px;
	right: -2px;

	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.popup-login {
	padding: 19px 17px 20px 19px;
	border-radius: 5px;

	background-color: #f8f7f4;
	z-index: 4;
	box-shadow:	0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.popup-login input[type="text"],
.popup-login input[type="password"] {
	box-sizing: border-box;
	width: 241px;
	margin-bottom: 20px;
}


.popup-login a {
	color: #323232;
	font-size: 13px;
	font-weight: normal;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.popup-login a:hover {
	border-bottom: 0px;
}

.login-links {
	display: flex;
	align-items: center;
}

.login-links button {
	padding-top: 13px;
	padding-bottom: 11px;
	padding-left: 24px;
	padding-right: 24px;
	margin-right: 19px;

	border-radius: 18px/23px;
}

.new-register p {
	margin: 0;
	line-height: 22px;
}

/*********************/

.cart {
	padding-left: 45px;

	background-position: 17px 50%;
	background-image: url('../img/cart.svg');
}

.cart:hover {
	background-image: url('../img/cart-active.svg');
	background-color: #ffffff;	
}

.cart-full {
	background-image: url('../img/cart-active.svg');
}

.cart:hover .cart-wrapper {
	display: block;
}

/* Всплывающая корзина */

.cart-wrapper {
	display: none;
	position: absolute;
	z-index: 3;
	top: 26px;
	right: 0px;

	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.popup-cart {
	padding: 20px 15px;
	border-radius: 5px;
	line-height: 16px;
	width: 540px;
	box-sizing: border-box;

	background-color: #f8f7f4;
	z-index: 4;
	box-shadow:	0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.popup-cart p {
	font-size: 13px;
	font-weight: normal;
	color: #323232;
}

.popup-cart a {
	color: inherit;
}

.cart-table {
	display: table;
	width: 100%;

	border-collapse: collapse;
	border-bottom: 1px solid #cacac7;
}

.cart-table-row {
	display: table-row;
	list-style: none;
	padding: 0;
	margin: 0;
}

.cart-table li {
	display: table-cell;
	padding-bottom: 16px;
}

.cell-item p,
.cell-amount p,
.cell-price p {
	padding-top: 9px;
	padding-bottom: 0;
	margin: 0;
}

.cell-delete {
	width: 11px;
	padding-right: 8px;
	text-align: left;
	vertical-align: middle;
}

.cell-delete button {
	background-color: transparent;
	border: none;
	width: 11px;
}

.cell-image {
	width: 33px;
	padding-right: 8px;
	vertical-align: middle;
}

.cell-image img {
	border-radius: 50%;
}

li.cell-item {
	padding-left: 13px;
	padding-right: 5px;
	vertical-align: top;
	text-align: left;

	min-width: 222px;
}

.cell-amount {
	padding-left: 15px;
	padding-right: 5px;
	width: 117px;

	white-space: nowrap;
	text-align: left;
	vertical-align: top;
}

.cell-price {
	width: 68px;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
}

.cart-footer {
	text-align: right;
}

p.cart-amount {
	font-size: 15px;
	font-weight: bold;
}

.cart-footer .button {
	padding-top: 13px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 25px;
}

/*******************/

.header-contacts {
	position: absolute;
	top: 63px;
	z-index: 2;

	text-align: right;
	font-size: 14px;
	font-weight: bold;
}

.header-contacts p {
	font-size: 14px;
	font-weight: bold;

	margin: 0;
}

.header-contacts p:first-child {
	margin-bottom: 6px;
}

.header-contacts b {
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
}


/* ХЛЕБНЫЕ КРОШКИ */


.site-navigation,
.breadcrumbs,
.catalog,
.paginator,
.footer-social,
.footer-links,
.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs li,
.paginator li,
.footer-social li {
	display: inline-block;
}

.breadcrumbs {
	font-size: 14px;
	margin-bottom: 4px;
}

.breadcrumbs li:nth-child(n + 2)::before {
	content:' » ';
	margin-left: 4px;
	margin-right: 4px; 
}

.breadcrumbs-current {
	border-bottom: none;
}

/* Фильтр */

.filter {
	width: 100%;
	height: 198px;
	box-shadow: 0 0 3px 5px rgba(200, 0, 0, 0.3);
}


/* Слайдер */

section.slider {
	width: 100%;
  position: relative;
  
  padding-top: 292px;
  margin-bottom: 41px;
}

.slide {
	display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #ffffff;
}

label[for^="product-"]:hover,
label[for^="product-"]:focus {
	background-color: rgba(247, 246, 243, 0.4);
	cursor: pointer;
}

label[for^="product-"]:active {
	background-color: #ffffff;	
	}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image:
			url("../img/background-icecream-1.png"),
			radial-gradient(circle 525px at center 360px, rgba(205, 244, 223, 1), rgba(255, 255, 255, 0));
	background-position:
			50% 80px,
			50% 0px;
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image:
			url("../img/background-icecream-2.png"),
			radial-gradient(circle 525px at center 360px, rgba(192, 211, 226, 1), rgba(255, 255, 255, 0));
	background-position:
			50% 80px,
			50% 0px;
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image:
			url("../img/background-icecream-3.png"),
			radial-gradient(circle 525px at center 360px, rgba(225, 206, 198, 1), rgba(255, 255, 255, 0));
	background-position:
			50% 80px,
			50% 0px;
}

.slider-list {
	text-align: center;
}

.slide-title {
	width: 700px;
	margin: 0 auto 31px;
	font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.slide-button {
	font-size: 32px;
	line-height: 41px;
  border-radius: 50px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  padding: 11px 40px;
  vertical-align: top;
}

.slider-controls {
	position: absolute;
	bottom: 22px;
	left: 0;
	z-index: 20;

	font-size: 0px;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

/* Специальные предложения */

.banner {
	border-radius: 15px;
	padding: 14px 18px;
	margin-bottom: 40px;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-origin: border-box;
}

.banner h2 {
	margin: 0px;
	padding: 0px;
}

.specials {
	display: flex;
	justify-content: space-between;
}

.special {
	width: 560px;
	height: 229px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.special h2 {
	font-size: 35px;
	line-height: 44px;
	font-weight: bold;
}

.special-text {
	font-size: 18px;
	line-height: 22px;
	margin-top: 14px;
	font-weight: bold;
}

.raspberry {
	background-image: url("../img/banner-raspberry.jpg");
}

.chocolate {
	background-image: url("../img/banner-chocolate.jpg");
}

.button-container {
	text-align: right;
	vertical-align: bottom;
	padding-bottom: 10px;
	padding-right: 4px;
}

/* Каталог */

.catalog {
	display: flex;
	flex-wrap: wrap;
}

.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 267px;
	margin-bottom: 38px;
	margin-right: 26px;
}

.catalog-item:nth-child(4n) {
	margin-right: 0px;
}

.catalog-item img {
	border-radius: 50%;
	z-index: 1;
}

.catalog-item-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	width: 258px;

	text-align: center;
	margin: 9px auto 0;
	padding: 0px;

	order: 2;
	z-index: 10;
}

.catalog-item-price {
	font-size: 45px;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
	margin: 0px;
	padding: 0px;
	z-index: 10;

	position: absolute;
	top: 208px;
	left: -2px;
}

.catalog-item-currency {
	margin-left: 4px;
}

.catalog-item-unit {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item:hover .overlay {
	display: flex;
}

.catalog-item:hover img {
	z-index: 9;
}

.overlay {
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	z-index: 5;

	top: -13px;
	right: -13px;
	width: 293px;
	height: 405px;

	text-align: center;
	padding-bottom: 20px;
	box-sizing: border-box;
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 5px;
}

.hit::before {
	content: "";
	width: 61px;
	height: 61px;

	position: absolute;
	top: 0px;
	left: 0px;

	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
}


/* Блок "Наши преимущества" */

.advantages {
	color: #323232;

	background-image: url("../img/banner-wafle.jpg");
}

.advantages-header {
	display: inline-block;
	font-size: 24px;
	line-height: 31px;
	font-weight: 500;
	margin-top: 9px;
	margin-bottom: 0px;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-bottom: 9px;
}

.advantages-list p {
	width: 49%;
	box-sizing: border-box;
	padding-left: 58px;
	padding-right: 5px;
	padding-top: 20px;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 2px;

	background-repeat: no-repeat;
	background-position: 2px 8px;
	background-size: 49px 49px;
}

.advantages-icecream {
	background-image: url("../img/advantages-icecream.svg");
}

.advantages-cow {
	background-image: url("../img/advantages-cow.svg");
}

.advantages-leaf {
	background-image: url("../img/advantages-leaf.svg");
}

.advantages-therm {
	background-image: url("../img/advantages-therm.svg");
}

/* Блог и подписка */

.blog-and-subscription {
	display: flex;
	justify-content: space-between;
}

.blog,
.subscription {
	width: 560px;
	height: 220px;
	box-sizing: border-box;
}

.blog {
	color: #323232;
	background-image: url("../img/banner-strawberry.jpg");
}

.blog h2 {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	padding: 0px;
	margin: 10px 0px 7px;
}

.blog h3 {
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	text-decoration: underline;
	width: 300px;
	margin: 0px;
}

.blog a {
	color: #323232;
}

.subscription {
	padding: 18px 26px;
	color: #5a5a5a;

	background-image: url("../img/banner-postcard-temporary.jpg");
}

.subscription p {
	line-height: 22px;
}

.subscription form {
	display: flex;
	align-items: flex-end;
	margin-top: 35px;
}

.subscription input[type="text"] {
	flex-grow: 1;
	margin-right: 12px;
}

/* Блок карта */

.map {
	width: 1200px;
	height: 430px;
	margin: 0 auto;
	position: relative;
}

.address-block {
	background-color: white;
	color: #323232;
	padding: 30px 25px 30px;
	width: 302px;
	height: 305px;
	box-sizing: border-box;
	border-radius: 13px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;

	position: absolute;
	top: 62px;
	right: 27px;
}

.address-block p {
	display: inline-block;

	margin-top: 0;

	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}

.address-block h3 {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#map-address {
	margin-bottom: 18px;
}

div.address-block strong {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	font-style: normal;

	margin-top: 0;
}

.map-phone {
	margin-bottom: 4px;
}

/* Внутренняя страница */

.inner-page h1 {
	font-size: 35px;
	margin: 0;
	padding: 0;
}

.inner-page main {
	padding-bottom: 29px;
}

.inner-page .footer-wrap {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Пэйджинатор */

.paginator {
	display: flex;
	justify-content: flex-end;

	margin-top: 43px;
}

.paginator-item {
	margin-left: 3px;
	width: 26px;
	height: 26px;
	line-height: 26px;	
	text-align: center;

	border-radius: 50%;
}

.paginator a {
	border-bottom: none;
	color: #ffffff;
}

.paginator a:hover,
.paginator a:active {
	color: #ffffff;
}

.paginator-item {
	font-size: 16px;
	font-weight: 500;
}

li.previous-page {
	transform: scale(-1, 1);
	margin-right: 13px;
	height: 26px;
	line-height: 28px;
}

li.next-page {
	margin-left: 16px;
	height: 26px;
	line-height: 28px;
}

.paginator-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

li.current-page,
.paginator-item:active {
	color: #323232;
	background-color: #ffffff;
}

.paginator-inactive path {
	fill: rgba(255, 255, 255, 0.2);
}


/* Футер */

.footer-wrap {
	padding-top: 18px;
	padding-bottom: 29px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} 

.footer-social {
	margin-top: 18px;
}

.social {
	width: 34px;
	height: 34px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
	opacity: 0.8;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	margin-right: 7px;
}

.social:hover,
.social:focus {
	opacity: 1;
}

.social:active {
	box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-tw {
	background-image: url("../img/social-tw.svg");
}

.social-ig {
	background-image: url("../img/social-ig.svg");
}

.social-fb {
	background-image: url("../img/social-fb.svg");
}

.social-vk {
	background-image: url("../img/social-vk.svg");
}

.footer-links {
	margin-top: 13px;
	margin-left: 200px;
	font-size: 13px;
	line-height: 22px;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;

	width: 350px;
}

.footer-links li {
	max-width: 50%;
	min-width: 112px;
	padding-left: 30px;
}

.footer-links-supplier {
	font-weight: bold;
	background-position: 9px 5px;
	background-repeat: no-repeat;
	background-image: url("../img/heart.svg");
}

.copyright {
	margin-left: auto;
	padding-top: 46px;
	font-size: 12px;

	background-image: url("../img/logo-htmlacademy.svg");
	background-repeat: no-repeat;
	background-size: 104px 38px;
/*	width: 267px;*/
}


/* Модальные окна */

.modal-show {	
	display: block;
}